// 定位position參數
@mixin pos($direction, $val...) {
    $result: ();
    $data: to-upper-case($direction);
    @for $i from 1 through str-length($data) {
        $result: append($result, str-slice($data, $i, $i));
        #{pos-chtext(nth($result, $i))}: #{if(length($val) ==1, $val, nth($val, $i))};
    }
}

@function pos-chtext($data) {
    @if $data== "T" {
        @return top;
    } @else if $data== "R" {
        @return right;
    } @else if $data== "B" {
        @return bottom;
    } @else if $data== "L" {
        @return left;
    }
}

// 判斷是否能hover(手機或Pc)
@mixin hover {
    @media (any-hover: hover) {
        @content;
    }
}

// 圖片替換文字
@mixin imgToTxt {
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

// 取消預設樣式
@mixin fullNone {
    background: transparent;
    outline: none;
    border: none;
}

// 工具按鈕顏色
@mixin toolColor($shadow, $bgc...) {
    background: linear-gradient(0deg, nth($bgc, 1), nth($bgc, 2));
    box-shadow: -1px 1px 1px $shadow inset;
    border-radius: 5px;
}

// 文字斷行顯示點點點(參數輸入行數)
@mixin txtChip($row) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $row;
    -webkit-box-orient: vertical;
    white-space: normal;
}

@mixin rwd($data){
    @media screen and (max-width: #{$data}px){
        @content;
    }
}

// 按鈕樣式 (垂直漸層色顛倒)
// 文字顏色,內陰影顏色,背景漸層色1&2
@mixin btn_linear($txtColor,$shadow, $bgc...){
    height: 34px;
    line-height: 34px;
    text-align: center;
    display: inline-block;
    background: linear-gradient(0deg, nth($bgc, 1), nth($bgc, 2));
    box-shadow: -1px 1px 1px $shadow inset;
    border-radius: 5px;
    overflow: hidden;
    position: relative;  
    color: $txtColor;
    user-select: none;
    cursor: pointer;
    transition: .3s;
    .btn_cnt{
        width: 100%;
        height: 100%;
        text-align: center;
        color: $txtColor;
        position: relative;
        margin: auto;
        font-weight: bold;
        font-size: 1rem;
        letter-spacing: 1px;
    } 
    &::before{
       content: '';
       width: 100%;
       height: 100%;
       position: absolute;
       @include pos(tl,0);
       background: linear-gradient(180deg, nth($bgc, 1), nth($bgc, 2));
       box-shadow: -1px 1px 1px $shadow inset;
       opacity: 0;
       transition: .3s;
    }
    
    button{
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;
    }

    &:active{
        opacity: 1;
        transform: translateY(2px);
    }
    @media (any-hover: hover) {
       &:hover::before{
         opacity: 1;
       }
    }
}
