<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, viewport-fit=cover">
    <link rel="icon" href="images/icon/favicon.ico" type="image/x-icon" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/vue_3.2.19.js"></script>
    <!-- 外掛插件 -->
    <script src="js/swipeslider.js"></script>
    <script src="js/marquee.js"></script>
    <script src="js/router.js"></script>
    <script src="js/verifyCode.js"></script>
    <script src="js/rolldate.js"></script>
    <!-- 自訂義css & js -->
    <script src="js/pageData.js?v1.0.4"></script>
    <link rel="stylesheet" href="css/all.css?v1.0.1">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-207427072-1">
    </script>

</head>

<body>
    <div id="indexBox" class="indexBox">
        <!-- ===== header start ===== -->
        <div class="header" id="header" ref="header">
            <div class="top">
                <div class="homeBtn" v-if='false'>
                    <a href="#/home">
                        <img src="images/icon/home.png">
                    </a>
                </div>
                <div class="hd_logo">
                    <img src="images/logo/hd_logo.png">
                </div>
                <div class="menuBer" @click="toggleSide()" v-if='false'>
                    <img src="images/icon/memuBar_open.png" v-if="!sideList">
                    <img src="images/icon/memuBar_close.png" v-if="sideList">
                </div>
            </div>
        </div>

        <!-- ===== content start ===== -->
        <div class="content" id="content" ref="content">
        </div>

        <!-- ===== ftMenu start ===== -->
        <div class="ftMenu" id="ftMenu" ref="ft" v-if="false">
            <ul>
                <template v-for="(item,index) in ftMenu">
                    <li v-if="item.switch" :data-name="item.data">
                        <a :href="item.href">
                            <div class="icon">
                                <img :src="item.img">
                            </div>
                            <p>{{item.title}}</p>
                        </a>
                    </li>
                </template>
            </ul>
        </div>

        <!-- ==== sideList start (側邊選單) ==== -->
        <div class="sideList" ref="sideList" :class="{'on':sideList}">
            <div class="close" @click="sideList = false"></div>
            <div class="sideBody" ref="sideBody">
                <div class="badge">
                    <img src="images/levelBadge/level_01.png">
                </div>
                <div class="mbrMsg" v-if="mbrLogin">
                    <ul>
                        <li>
                            <p>{{mbrMsg.nickname}}</p>
                        </li>
                        <li>
                            <p>Ví của tôi：{{mbrMsg.points}}</p>
                            <div class="renew">
                            </div>
                        </li>
                    </ul>

                    <div class="btn_linear_c5 btn">
                        <div class="btn_cnt">Tìm kiếm</div>
                    </div>
                </div>

                <div class="list" @click="sideList = false">
                    <ul>
                        <li><a href="#/aboutMe">Liên quan đến chúng tôi</a></li>
                        <li><a href="#/ann">Thông tin mới nhất</a></li>
                        <li @click="suggest()"><a>Kiến nghị phản ánh</a></li>
                    </ul>
                </div>

                <div class="btnBox" @click="sideList = false">
                    <div class="btn_linear_c3 btn" v-if="mbrLogin" @click="toSignOut()">
                        <div class="btn_cnt">Đăng xuất</div>
                    </div>
                    <div class="btn_linear_c2 btn" v-if="!mbrLogin" @click="toSignIn()">
                        <div class="btn_cnt">Đăng nhập</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ==== dialogBox start (彈窗) ==== -->
        <div class="dialogBox" :class="{'on':dialog.main}">
            <!-- ===== 註冊 ===== -->
            <div class="dialogBody" :class="{'on':dialog.regd}">
                <div class="close" @click="closeDialog()"></div>
                <div class="title">Đăng kí</div>
                <form @submit.prevent="ckRegd()">
                    <div class="dialogCnt">
                        <div class="iptBox">
                            <div class="item">
                                <div class="itemIpt">
                                    <label>
                                    <span>Tài khoản</span>
                                    <input type="text" placeholder="Điền tên tài khoản" v-model="regdMbr.account" required>
                                </label>
                                </div>
                                <p class="errorTxt" v-if="errorCode.reEmail">Email không tồn tại</p>
                            </div>

                            <div class="item">
                                <div class="itemIpt">
                                    <label>
                                        <span>Mật khẩu</span>
                                        <input type="password" placeholder="Nhập mật khẩu" v-model="regdMbr.pwd" autocomplete="on" required>
                                    </label>
                                </div>
                                <p class="errorTxt" v-if="false"></p>
                            </div>

                            <div class="item code">
                                <div class="itemIpt">
                                    <label>
                                    <span>xác minh</span>
                                    <input type="text" placeholder="xác minh"  minlength="4" maxlength="4" pattern="[0-9]{4,4}" v-model="regdMbr.code" required>
                                </label>
                                    <div class="nbCode" @click="verify('mainVerify')">
                                        <canvas id="regdVerify" @click="verify('regdVerify')"></canvas>
                                    </div>
                                </div>
                                <p class="errorTxt" v-if="errorCode.verify">Sai mã xác nhận</p>
                            </div>
                        </div>

                        <div class="check_cnt">
                            <label class="ckBox">
                                <input type="checkbox" v-model="regdMbr.agree" >
                                <div></div>
                            </label>
                            <p>Tôi đủ tuổi hợp pháp và đồng ý cũng như sẵn sàng tuân thủ các quy định
                                <a>Quy định người dùng</a>。
                            </p>
                        </div>

                        <div class="btnBox">
                            <div class="btn_linear_c1 btn">
                                <button class="btn_cnt">Đăng kí</button>
                            </div>

                            <div class="btn_linear_c2 btn" @click="closeDialog()">
                                <div class="btn_cnt">Hủy</div>
                            </div>
                        </div>

                        <div class="quickLogin">
                            <div class="describe">Sử dụng thông tin đăng nhập của bên thứ ba</div>

                            <div class="quickBtn">
                                <div class="btn_linear_c4 btn">
                                    <div class="btn_cnt">Đăng nhập Facebook</div>
                                </div>
                                <div class="btn_linear_c4 btn">
                                    <div class="btn_cnt">Đăng nhập Zalo</div>
                                </div>
                                <div class="btn_linear_c4 btn">
                                    <div class="btn_cnt">Đăng nhập Telegram</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!-- ===== 登入 ===== -->
            <div class="dialogBody" :class="{'on':dialog.signIn}">
                <div class="close" @click="closeDialog()"></div>
                <div class="title">Đăng nhập</div>
                <form @submit.prevent="ckSignIn()">
                    <div class="dialogCnt">
                        <div class="iptBox">
                            <div class="item">
                                <div class="itemIpt">
                                    <label>
                                    <span>Tài khoản</span>
                                    <input type="text" placeholder="Điền tên tài khoản" v-model="signInMbr.account" required>
                                </label>
                                </div>
                                <p class="errorTxt" v-if="errorCode.notEmail">Email không tồn tại</p>
                            </div>

                            <div class="item">
                                <div class="itemIpt">
                                    <label>
                                        <span>Mật khẩu</span>
                                        <input type="password" placeholder="Nhập mật khẩu" v-model="signInMbr.pwd" autocomplete="on" required>
                                    </label>
                                    <div class="QBtn" @click="toForget()">
                                        <div class="btn_linear_c2 btn">
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                                <p class="errorTxt" v-if="errorCode.pwd">Sai mật khẩu</p>
                            </div>

                            <div class="item code">
                                <div class="itemIpt">
                                    <label>
                                    <span>xác minh</span>
                                    <input type="text" placeholder="xác minh"  minlength="4" maxlength="4" pattern="[0-9]{4,4}" v-model="signInMbr.code" required>
                                </label>
                                    <div class="nbCode" @click="verify('mainVerify')">
                                        <canvas id='mainVerify'></canvas>
                                    </div>
                                </div>
                                <p class="errorTxt" v-if="errorCode.verify">Sai mã xác nhận</p>
                            </div>
                        </div>

                        <div class="btnBox">
                            <div class="btn_linear_c1 btn">
                                <button class="btn_cnt">Đăng nhập</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!-- ===== 忘記密碼 ===== -->
            <div class="dialogBody" :class="{'on':dialog.forget}">
                <div class="close" @click="closeDialog()"></div>
                <div class="title">Quên mật khẩu</div>
                <div class="dialogCnt">
                    <div class="iptBox">
                        <div class="item">
                            <div class="itemIpt">
                                <label>
                                <span>tài khoản</span>
                                <input type="text" placeholder="Điền tên tài khoản"  required>
                            </label>
                            </div>
                            <p class="errorTxt" v-if="errorCode.notEmail">Email không tồn tại</p>
                        </div>

                        <div class="item">
                            <div class="itemIpt">
                                <label>
                                    <span>Xác minh</span>
                                    <input type="text" placeholder="Xác minh"  required >
                                </label>
                                <div class="itemSel" @click="forgetMbr.switch = true">
                                    <p>{{forgetMbr.txt}}</p>
                                    <div class="icon">
                                        <img src="images/icon/selArrow.png">
                                    </div>
                                </div>

                                <div class="selList" :class="{'on':forgetMbr.switch}">
                                    <div class="listCnt">
                                        <div class="title">Xác minh</div>
                                        <div class="list">
                                            <ul>
                                                <template v-for="(item,index) in forgetMbr.list">
                                                    <li @click="refForget(index) ,forgetMbr.switch = false">
                                                        <label>
                                                            <span>{{item}}</span>
                                                            <input type="radio" 
                                                            name="forget" 
                                                            v-model="forgetMbr.checked" 
                                                            :value="index">
                                                        </label> 
                                                    </li>
                                                </template>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="errorTxt" v-if="errorCode.notEmail">Email không tồn tại</p>
                        </div>

                        <div class="item code">
                            <div class="itemIpt">
                                <label>
                                <span>Xác minh</span>
                                <input type="text" placeholder="Nhập mã xác minh"  minlength="4" maxlength="4" pattern="[0-9]{4,4}"  required>
                            </label>
                                <div class="nbCode" @click="verify('forgetVerify')">
                                    <canvas id='forgetVerify'></canvas>
                                </div>
                            </div>
                            <p class="errorTxt" v-if="errorCode.verify">Sai mã xác nhận</p>
                        </div>
                    </div>
                    <div class="btnBox">
                        <div class="btn_linear_c1 btn">
                            <button class="btn_cnt">Gửi đi</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ===== 今日遊戲 ===== -->
            <div class="todayGame" :class="{'on':dialog.todayGame}">
                <div class="todayGame_cnt">
                    <div class="close" @click="nextDialog()"></div>
                    <div class="firework">
                        <img src="images/todayGame/firework.png">
                    </div>
                    <div class="todayGame_msg">
                        <p>VNC88 </p>
                        <p>tặng bạn</p>
                        <p>3000</p>
                        <p>đồng tiền vàng</p>
                    </div>
                    <div class="btn">
                        <img src="images/todayGame/todayGame_btn.png">
                    </div>
                </div>
            </div>

            <!-- 新註冊獎金 -->
            <div class="newGift" v-show="dialog.gift">
                <div class="roulette">
                    <div class="rou_body" id="rou_body"></div>
                    <div class="rou_pointer" style="padding: 0%;">
                        <img src="images/roulette/rou_pointer.png">
                    </div>
                </div>

                <div class="newGift_cnt" id="newGift_cnt">
                    <div class="title">
                        <span>Phần thưởng cho người mới đăng kí</span>
                        <p>Nhập mã SDT của bạn vào bên dưới và thử vận ​​may với vòng quay tài lộc</p>
                    </div>

                    <div>
                        <input type="text" placeholder="Điền số SDT tài khoản">
                        <div class="btn_linear_c1 btn">
                            <button class="btn_cnt">Bắt đầu bốc thăm</button>
                        </div>
                    </div>

                    <div class="rule">
                        <span>Nguyên tắc</span>
                        <p>- Điền số SDT tài khoản</p>
                        <p>- Một nhóm tài khoản được giới hạn 1 vòng quay</p>
                    </div>
                </div>
                <div class="close" @click="closeDialog()"></div>
            </div>
        </div>
    </div>

    <script>
        var indexVue = Vue.createApp({
            data() {
                return {
                    sideList: false,
                    ftMenu: ftMenu,
                    // ==== 判斷會員是否為登入狀態 ====
                    mbrLogin: false,
                    // ==== 會員基本資料 ====
                    mbrMsg: {
                        nickname: '',
                        points: ''
                    },
                    // ==== 驗證碼 ====
                    verifyCode: {
                        main: '',
                        forget: '',
                        regd: '',
                    },

                    // ==== 錯誤訊息 ====
                    errorCode: {
                        reEmail: false,
                        notEmail: false,
                        verify: false,
                        pwd: false,
                    },

                    // ==== 彈窗開關 ====
                    dialog: {
                        main: false,
                        signIn: false,
                        forget: false,
                        regd: false,
                        gift: false,
                        todayGame: false,
                        suggest: false,
                    },

                    // ==== 註冊會員 ====
                    regdMbr: {
                        account: '',
                        pwd: '',
                        code: '',
                        agree: false,
                    },

                    // ==== 登陸會員 ====
                    signInMbr: {
                        account: '',
                        pwd: '',
                        code: '',
                    },

                    // ==== 忘記密碼 ====
                    forgetMbr: {
                        switch: false,
                        checked: 0,
                        list: forgetList,
                        txt: '',
                    }
                };
            },
            methods: {
                winResize() {
                    this.setSide();
                },
                // ==== 側邊選單切換 ====
                toggleSide() {
                    this.sideList = !this.sideList;
                    // sideBody卷軸至頂
                    this.$refs.sideBody.scrollTop = 0;
                },
                // ==== 側邊選單登出 ====
                toSignOut() {
                    sessionStorage.removeItem('session');
                    this.ckLogin();
                    setTimeout(function() {
                        location.href = "#/home";
                        location.reload();
                    }, 200)
                },
                // ==== 側邊選單登入 ====
                toSignIn() {
                    this.dialog.main = true;
                    this.dialog.signIn = true;
                },
                // ==== 側邊選單 ====
                setSide() {
                    let hdH = this.$refs.header.offsetHeight;
                    let winH = document.body.clientHeight;
                    this.$refs.sideList.style.height = `${winH - hdH}px`;
                    this.$refs.sideList.style.top = `${hdH}px`;
                },
                // ==== 意見反饋 ====
                suggest() {
                    let session = sessionStorage.getItem('session');

                    if (session == null) {
                        this.dialog.main = true;
                        this.dialog.signIn = true;
                        this.verify("mainVerify");
                    } else {
                        location.href = "#/suggest"
                    }
                },
                // ==== 驗證碼 ====
                verify(name) {
                    let codeNum = ''
                    let codeRan = parseInt(Math.random() * 8889 + 1111);
                    switch (name) {
                        case "mainVerify":
                            this.verifyCode.main = codeRan;
                            break;
                        case "forgetVerify":
                            this.verifyCode.forget = codeRan;
                            break;
                        case "regdVerify":
                            this.verifyCode.regd = codeRan;
                            break;
                    }

                    let options = {
                        canvasId: name,
                        txt: String(codeRan),
                        /**傳入驗證碼內容*/
                        height: 40,
                        /**驗證碼高度 */
                        width: 80,
                        /**驗證碼寬度 */
                    };
                    writeAuthCode(options);
                    getVerify_m = function() {
                        return options.txt
                    }

                    // 清除驗證碼 error 訊息
                    this.errorCode.verify = false;
                },

                // ==== 確認狀態碼 ====
                ckError(status, res) {
                    let self = this;
                    switch (status) {
                        case 200:
                            self.closeDialog();
                            self.onLogin(res);
                            self.mbrMsg.nickname = res.nickname;
                            self.mbrMsg.points = res.points;

                            setTimeout(function() {
                                location.href = "#/home";
                                location.reload();
                            }, 300)

                            break;
                        case 400:
                            break;
                        case 403:
                            self.errorCode.pwd = true;
                            break;
                        case 404:
                            self.errorCode.notEmail = true;
                            break;
                        case 409:
                            self.errorCode.reEmail = true;
                            break;
                    }
                },

                // ==== 確認登入 ====
                ckLogin() {
                    let session = sessionStorage.getItem('session');
                    let self = this;

                    if (session == null) {
                        this.mbrLogin = false;
                    } else {
                        this.mbrLogin = true;
                        let data = JSON.parse(session);
                        this.mbrMsg.nickname = data.nickname;
                        this.mbrMsg.points = data.points;
                    }
                },
                onLogin(res) {
                    sessionStorage.setItem('session', JSON.stringify(res));
                    this.ckLogin();
                },

                // ==== 關閉彈窗 ====
                closeDialog() {
                    for (let i in this.dialog) {
                        this.dialog[i] = false
                    }
                    this.reset();
                },

                // ==== 清除所有error訊息 & 所有輸入====
                reset() {
                    let data = [this.errorCode, this.regdMbr, this.signInMbr];
                    data.forEach(function(item) {
                        for (let i in item) {
                            if (item[i] == true) {
                                item[i] = false
                            } else if (item[i] != '') {
                                item[i] = ''
                            }
                        }
                    })
                },

                // ==== 會員註冊 ====
                ckRegd() {
                    let ckCode = this.regdMbr.code == this.verifyCode.regd;
                    let ckAgree = this.regdMbr.agree;
                    this.errorCode.pwd = false;
                    this.errorCode.reEmail = false;

                    // 驗證碼錯誤提醒
                    this.errorCode.verify = ckCode ? false : true
                    if (ckCode && ckAgree) {
                        this.postRegd();
                    };
                },
                postRegd() {
                    let mbrMsg = {};
                    let self = this
                    self.onLoad = true;
                    mbrMsg.username = String(this.regdMbr.account);
                    mbrMsg.password = String(this.regdMbr.pwd);

                    let xhr = new XMLHttpRequest();
                    xhr.open("post", "https://www.vnc8888.com/api/member/register");
                    xhr.setRequestHeader("Content-type", "application/json");
                    let data = JSON.stringify(mbrMsg);
                    xhr.send(data);
                    xhr.onload = function() {
                        self.onLoad = false;
                        let res = JSON.parse(xhr.response);
                        self.ckError(xhr.status, res)
                    }
                },

                // ==== 會員登入 ====
                ckSignIn() {
                    let ckCode = this.signInMbr.code == this.verifyCode.main;
                    this.errorCode.pwd = false;
                    this.errorCode.notEmail = false;

                    // 驗證碼錯誤提醒
                    this.errorCode.verify = ckCode ? false : true
                    if (ckCode) {
                        this.postSignIn();
                    }
                },
                postSignIn() {
                    let mbrMsg = {};
                    let self = this;
                    mbrMsg.username = String(this.signInMbr.account);
                    mbrMsg.password = String(this.signInMbr.pwd);

                    let xhr = new XMLHttpRequest();
                    xhr.open("post", "https://www.vnc8888.com/api/member/login");
                    xhr.setRequestHeader("Content-type", "application/json");
                    let data = JSON.stringify(mbrMsg);
                    xhr.send(data);
                    xhr.onload = function() {
                        let res = JSON.parse(xhr.response);
                        self.ckError(xhr.status, res);
                    }
                },
                // ==== 忘記密碼 ====
                toForget() {
                    this.closeDialog();
                    this.dialog.main = true;
                    this.dialog.forget = true;
                    this.verify("forgetVerify");
                },
                refForget(data) {
                    this.forgetMbr.txt = this.forgetMbr.list[data];
                },
                // ==== 起始登入彈窗 ====
                startDialog() {
                    let state = sessionStorage.getItem('onStart')

                    if (String(state) == 'null') {
                        this.dialog.main = true;
                        this.dialog.todayGame = true;
                    }
                },
                // ==== 起始下一個彈窗 ====
                nextDialog() {
                    let state = sessionStorage.getItem('onStart')

                    if (String(state) == 'null') {
                        this.dialog.todayGame = false;
                        this.dialog.gift = true;
                        sessionStorage.setItem('onStart', true)
                    }else{
                        this.closeDialog();
                    }
                }
            },
            mounted() {
                this.startDialog();
                this.verify("mainVerify");
                this.verify("regdVerify");
                this.verify("forgetVerify");
                this.ckLogin();
                this.refForget(0);
                this.setSide();

                window.addEventListener('resize', this.winResize);
            },
        }).mount("#indexBox");
    </script>


</body>

</html>